<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>📰 AI Fake News Detector</h1>

    <form action="/predict" method="POST">

        <textarea 
            name="news" 
            placeholder="Paste news content here..."
            required
        ></textarea>

        <button type="submit">
            Check News
        </button>

    </form>

    {% if prediction %}

        <div class="result">

            <h2>
                Result: {{ prediction }}
            </h2>

        </div>

    {% endif %}

</div>

</body>
</html>